<mat-form-field class="searchbar">
  <mat-label>Suche</mat-label>
  <input matInput #search (input)="applyFilter(search.value)" placeholder="Titel, Beschreibung">
  <mat-icon matIconSuffix>search</mat-icon>
</mat-form-field>

  <div *ngIf="!cardView" class="list-container">
    <table mat-table [dataSource]="filteredItems">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Titel </th>
        <td mat-cell *matCellDef="let item"> {{item.detail.Title}} </td>
      </ng-container>
      <ng-container matColumnDef="coordinates">
        <th mat-header-cell *matHeaderCellDef> Koordinaten </th>
        <td mat-cell *matCellDef="let item"> {{item.position.Latitude}}, {{item.position.Longitude}} </td>
      </ng-container>
      <ng-container matColumnDef="startingAltitude">
        <th mat-header-cell *matHeaderCellDef> Starthöhenmeter </th>
        <td mat-cell *matCellDef="let item" class="mid-text"> {{item.startingPoint.Altitude}} m</td>
      </ng-container>
      <ng-container matColumnDef="arrivalAltitude">
        <th mat-header-cell *matHeaderCellDef> Endhöhenmeter </th>
        <td mat-cell *matCellDef="let item" class="mid-text"> {{item.isLoop ? "" : item.arrivalPoint.Altitude}} m</td>
      </ng-container>
      <ng-container matColumnDef="heightDifference">
        <th mat-header-cell *matHeaderCellDef> Höhenunterschied </th>
        <td mat-cell *matCellDef="let item" class="mid-text"> {{item.isLoop ? "" : getHeightDifference(item)}} m</td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
          <button mat-icon-button (click)="showOnMap(item)" matTooltip="Auf Karte anzeigen">
            <mat-icon>pin_drop</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDetail(row)"></tr>
    </table>

    <div class="spinner">
      <mat-spinner *ngIf="!items"></mat-spinner>
    </div>

  </div>

  <div *ngIf="cardView" class="card-container">

    <mat-card *ngFor="let item of filteredItems" class="card" appearance="outlined" (click)="openDetail(item)">
      <mat-card-header>
        <mat-card-title>
          {{item.detail.Title}}
          <button mat-icon-button (click)="showOnMap(item)" matTooltip="Auf Karte anzeigen">
            <mat-icon>pin_drop</mat-icon>
          </button>
        </mat-card-title>
        <mat-card-subtitle>Koordinaten: {{item.position.Latitude}}, {{item.position.Longitude}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>Starthöhenmeter: {{item.startingPoint.Altitude}} m</p>
        <p *ngIf="!item.isLoop">Endhöhenmeter: {{item.arrivalPoint.Altitude}} m</p>
        <p *ngIf="!item.isLoop">Höhenunterschied: {{getHeightDifference(item)}} m</p>
      </mat-card-content>

    </mat-card>

    <div class="spinner">
      <mat-spinner *ngIf="!items"></mat-spinner>
    </div>

  </div>

<button mat-fab class="fab" (click)="toggleView()">
  <mat-icon>{{ cardView ? 'menu' : 'grid_view' }}</mat-icon>
</button>
